body{
    margin: 0;
    font-family: 'Segoe UI',sans-serif;
    background-image: url(../public/image.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    backdrop-filter:blur(5px);;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculator-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator{
    background: rgba(0, 0, 0, 0.404);
    backdrop-filter: blur(4px);
    border-radius: 16px;
    padding: 30px;
    box-shadow: 0 0 20px rgba(0,0,0,0.6);
    width: 360px;
}

.display{
    background: rgba(0, 0, 0, 0.074);
    backdrop-filter: blur(4px);
    color: #638efa;
    font-size: 2rem;
    padding: 20px;
    border-radius: 12px;
    text-align: right;
    margin-bottom: 20px;
    overflow-x: auto;
}

.buttons{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 12px;
}
  
.btn{
    background: rgba(177, 171, 171, 0.032);
    backdrop-filter: blur(4px);
    color: white;
    border: none;
    font-size: 1.2rem;
    padding: 18px;
    border-radius: 30px;
    cursor: pointer;
}

.btn:hover{
    background: #4882ac64;
    background: linear-gradient(130deg,rgba(77, 162, 199, 0.135) 0%, rgb(89, 162, 188) 35%, rgb(5, 113, 137) 100%);
}

.btn.operator{
    background-color: #09183f00;
}
.btn.operator:hover{
    background-color: #0d1e4729;
}

.btn.control{
    background-color: #00000000;
}
.btn.control:hover{
    background-color: #151515;
}

.btn.eaquals{
    background-color: #77787b00;
}

.btn.btn.eaquals:hover{
    background-color: #132553;
}

.btn.zero{
    grid-column: span 2;
}

.btn:active{
    background-color: #f4f7ff;
    color:#09183f
}